* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

.authToggle {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.authToggle a {
  text-decoration: none;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  background: #007bff;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.authToggle a:hover {
  background: #0056b3;
}

.authcontent {
  margin-top: 10px;
}